
  
  <div class="d-flex" style="width: 100%; background-color: rgb(202, 209, 238);">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="landscape">
      <li ngbNavItem="Home" class="listyle">
        <a ngbNavLink>Home</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
      <li ngbNavItem="Product" class="listyle">
        <a ngbNavLink>Product</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
      <li ngbNavItem="Cart" class="listyle">
        <a ngbNavLink>Cart</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    </ul>
  
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
  </div>
  <br>
  
  <!-- //<pre>Active: {{ active }}</pre> -->

  <img src={{pathImage}} alt="image" width="100%">