<div class="stylecontainer">
    <div class="container styleform">
        <form [formGroup]="registerForm">
            <div class="form-group">
                <!-- <label>Name :</label> -->
                <input  placeholder="User Name" [class.is-invalid]="userName?.invalid && userName?.touched" type="text" name="txt_name" formControlName="userName"  class="form-control">
                <div *ngIf="userName?.invalid && userName?.touched">
                    <small class="text-danger"  *ngIf="userName?.errors?.['required']"> user Name is requried</small>
                    <small class="text-danger"  *ngIf="userName?.errors?.['minlength']"> user Name must be at lest 6</small>
                </div>
            </div>
    
            <div class="form-group">
    
                <input placeholder="Email" type="email" [class.is-invalid]="email?.invalid && email?.touched" name="txt_email" formControlName="email" class="form-control">
                <div *ngIf="email?.invalid && email?.touched">
                    <small class="text-danger"  *ngIf="email?.errors?.['required']"> Emaill is requried</small>
                    <small class="text-danger"  *ngIf="email?.errors?.['email']"> example@yahoo.com </small>
                </div>
            </div>

            <div class="form-group">
    
                <input placeholder="********" type="password" [class.is-invalid]="password?.invalid && password?.touched" name="txt_email" formControlName="password" class="form-control">
                <div *ngIf="password?.invalid && password?.touched">
                    <small class="text-danger"  *ngIf="password?.errors?.['required']"> Password is requried</small>
                    <small class="text-danger"  *ngIf="password?.errors?.['minlength']"> password must be at lest 6</small>
                </div>
            </div>

            <div class="form-group">
                <input placeholder="Confirm Password" type="password" name="txt_name" formControlName="confirmpassword"  class="form-control">
                <small  class="text-danger" *ngIf="registerForm?.errors?.['misMatch']">Confirm password not match</small>
            </div>
    
            <input type="submit" value="SUBMIT" class="btn btn-primary">
    
        </form>
    
    </div>
</div>