
<table class="table table table-hover  styletable   " >

    <thead>
        <tr class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>

        </tr>
    </thead>

    <tbody *ngFor="let item of list_User">
        <tr  class="table-primary">

            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>


            
        </tr>
    </tbody>
</table>


<div>
    <input placeholder="serch" type="number" #serch>
    <!-- {{getProductById(1)}} -->
    {{"data "+getoneuser}}

</div>

    {{getuserId(2).id}}
    {{getuserId(4).email}}
    {{"data "+getoneuser}}




